# Integrating Test Results With PicklesDoc

Test results may be integrated with the [PicklesDoc project](http://www.picklesdoc.com/). Run your tests with

```Batchfile
dotnet xunit -xml MyResultsFile.xml
```

This file is an xunit2 formatted file, which you can integrate with picklesdoc in a variety of ways - see the pickles documentation.
